.contact-us-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: transparent;
  color: black;
}

.contact-header {
  text-align: center;
  margin-bottom: 30px;
}

.contact-header h1 {
  font-size: 2.5rem;
}

.contact-header p {
  font-size: 1.2rem;
}

.contact-info {
  max-width: 800px;
  margin: 0 auto;
}

.info-item {
  background-color: #919191ab;
  border-radius: 16px;
  border: 8px solid grey;
  padding: 50px;
  text-align: center;
  width: 85%;
  margin: auto 20px;
  margin-bottom: 40px;
  box-shadow: 8px 8px 14px 2px rgba(0, 0, 0, 0.529);
}

.info-item h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 1.1rem;
}
