.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #333333ab;
  border-radius: 16px;
}

.products img {
  border-radius: 16px;
}

.products li {
  display: grid;
  list-style-type: none;
  margin: 16px;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr auto 0.5fr 0.5fr; */
}

.product-category {
  display: grid;
  grid-template-columns: 1fr;
}
