.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #333;
  border-radius: 16px;
}

.products img {
  border-radius: 16px;
}

.products li {
  list-style-type: none;
  margin: 16px;
}

.product-category {
  display: grid;
  grid-template-columns: 1fr;
}
